<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestVuejs</title>
    <base href="~/" />

	<environment>
		<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/address_book.css" asp-append-version="true" />
	</environment>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>