#app {
	font-size: 1.4rem;
	padding: 2rem;
	display: inline-block;
}

.table_content{
	min-width: 40rem;
    border-collapse: collapse;
  	color: #686461;
}

.table_content caption{
	padding: 0.4rem 1rem;
	color: white;
	background: #8FD4C1;
	font-size: 1.8rem;
	text-align: left;
	font-weight: bold;
}

.table_content th{
    border-bottom: 3px solid #B9B29F;
  	text-align: left;
    padding: 0.4rem 1rem;
}

.table_content td{
    padding: 0.4rem 1rem;
}

.table_content tr:nth-child(odd) {
	background: white;
}

.table_content tr:nth-child(even) {
	background: #ebf3f9;
}

.address_info{
	background: #eeeee5;
	border: 1px dashed #abab9a;
	padding: 1rem;
	margin: 2rem 1rem;
	font: 1.4rem Tahoma;
	color:#2c2c2c;
}