<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:8080" />
        <add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent" />
        <add name="Access-Control-Allow-Methods" value="GET, HEAD, POST, DEBUG, PUT, DELETE, PATCH, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1000" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>