<!DOCTYPE html>
@{
    ViewData["Title"] = "Главная";
}

<div id='app'>
    <table class="table_content">
        <tr>
            <th>п/п</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Адрес</th>
            <th>Телефон</th>
        </tr>
        <tr v-for="address in addresses">
            <td><router-link to="/api/Address/Info/1">{{address.index}}</router-link></td>
            <td>{{address.surname}}</td>
            <td>{{address.name}}</td>
            <td>{{address.middlename}}</td>
            <td>{{address.address}}</td>
            <td>{{address.phone}}</td>
        </tr>
    </table>
    <a href="/">Home</a>
    <router-view></router-view>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}