<!DOCTYPE html>
@{
    ViewData["Title"] = "Главная";
}

<main class="container">
    <div id='app'>
        <table class="table_content">
			<caption>Адресная книга города Новокузнецк</caption>
            <tr>
                <th>п/п</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
            </tr>
            <tr v-for="address in addresses">
                <td><router-link to="/api/Address/Info/1">{{address.index}}</router-link></td>
                <td>{{address.surname}}</td>
                <td>{{address.name}}</td>
                <td>{{address.middlename}}</td>
            </tr>
        </table>
        <a href="/">Home</a>
        <router-view></router-view>
    </div>
</main>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}